body {
    background-image: url("/IMG/background_body.png");
    background-size: cover;
}

.listaNOordenada {
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: center;
}