body {
    background-image: url("/IMG/background_body.png");
    background-size: cover;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Enlaces */

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
nav {
    background: #0082e6;
    height: 80px;
    width: 100%;
}
label .logo {
    color: black;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;   
}
nav ul {
    float: right;
    margin-right: 20px;
}
nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: black;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
a.meNU,a:hover{
    background: #1b9bff;
    transition: .5s;
}

.checkBTN {
    font-size: 30px;
    color: black;
    float: right;
    line-height: 80px;
}
/* .listaNOordenada {
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    list-style: none;
}

li {
    font-size: large;
    text-transform: uppercase;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    margin: 10px;
    padding: 5px;
    letter-spacing: 2px;
}

@media (max-width: 850px){
    .listaNOordenada {
        flex-direction: column;
    }
}
 */