body {
    background: url(/IMG/background_body.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    background-position: center;
    height: auto;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

/* NAV BAR - LINKS- RESPONSIVE */
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
nav {
    background: #0082e6;
    height: 80px;
    width: 100%;
}
/*  */
.logo{
    color: white;
    font-size: 25px;
    line-height: 80px;
    padding: 20px;
    font-weight:lighter;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.logo1{
    color: white;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;
    padding-top: 0%;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 10px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    
}
a.active,a:hover{
    background: #1b9bff;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 30px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
/* PREUBA RESPONSIVE TEST */
@media (max-width: 853px){
    label.logo {
        font-size: 25px;
        padding-left: 50px;    
    }
    nav ul li a{
        font-size: 18px;
    }
}
@media (max-width: 853px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }    
    nav ul li a {
        font-size: 20px;
    }    
        a:hover,a.active{
        background:none;
        color: #0082e6;
        }
        #check:checked ~ ul{
        left: 0;
        }
    }
    /* SECTION WALLPAPER CAMBIADO */
    /* section{
        background: url(/IMG/consultoria_img.jpeg) no-repeat;
        background-size: cover;
        height: calc(100vh - 80px);
    } */

    /* IMG PICTURES page front */
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: center;
        margin left: -20px;
        margin right: -20px;
    }
    .container-div{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin top: ;: 20px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    /* TITLE TEXT */
    h1{
        font-weight: bolder;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        display: inline-block;
        padding: 50px;
    }
    /* TEXT */
    p{
        padding-left: 100px;
        padding-right: 100px;
        font-size: 10px;
        
    }
    /* NEWS FORM */
    .container-form{
        font-size: medium;
        background: #0862a7;
        height: 80px;
        width: 100%;
        padding: 10px;
    }
    input{
        color: #0862a7;
        font-size: 10px;
        padding: 7px 13px;
        border-radius: 3px;
        text-transform: uppercase;
    }
    .wallpaper {
        background-image: url(/IMG/consultoria_img.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-position-x: center;
        background-position-y: center;
        height: 72vh;
    }
    .grid-container2 {
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr; 
        grid-template-rows: 1fr 1fr; 
        gap: 14px 14px;
       /*  padding-top: 30px;  */
        margin: 30px;
        height: 250px;
        grid-template-areas: 
            "Com-1 Com-2 Com-3"
            "Com-4 Com-5 Com-6"; 
    }
    .Com-1 {
        justify-self: center; 
        align-self: center; 
        grid-area: Com-1; 
    }
    .Com-2 {
        justify-self: center; 
        align-self: center; 
        grid-area: Com-2; 
    }
    .Com-3 {
        justify-self: center; 
        align-self: center; 
        grid-area: Com-3; 
    }
    .Com-4 {
        justify-self: center; 
        align-self: center; 
        grid-area: Com-4; 
    }
    .Com-5 {
        justify-self: center; 
        align-self: center; 
        grid-area: Com-5; 
    }
    .Com-6 {
        justify-self: center; 
        align-self: center; 
        grid-area: Com-6; 
    }


